.slide-titulo{
	color: rgb(0, 123, 255);
	width: 100%;
	padding: 20px 0;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	margin:0 0 20px 5px;
	size: 1rem;
  }
  
.slide-pie{
	color: rgba(0, 0, 0, .5);
	width: 100%;
	padding: 20px 0;
	border-top: solid 1px rgba(0,0,0,0.1);
	margin:20px 0 0 5px;
	size: 1rem;
  }