
.rbp-icono-final::after {
	font-family: $botones-font-family;
	/*			background-color: grey;*/
	text-align: center;
	display: flex;
	align-content: center;
	width: 30px;
	height: 25px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	font-size: $botones-icono-size;
}

.rbp-icono-inicio::before {
	font-family: $botones-font-family;
	/*	background-color: grey;*/
	text-align: left;
	display: flex;
	width: 30px;
	height: 25px;
	justify-content: initial;
	align-items: center;
	margin-left: 0px;
	font-size: $botones-icono-size;
}

.rbp-icono-final-cerrar::after {
	content: $botones-icono-clear;
}

.rbp-icono-inicio-cerrar::before {
	content: $botones-icono-clear;
}

.rbp-icono-final-descargar::after {
	content: $botones-icono-get-app;
}

.rbp-icono-inicio-descargar::before {
	content: $botones-icono-get-app;
}

.rbp-icono-final-ver::after {
	content: $botones-icono-visibility;
}

.rbp-icono-inicio-ver::before {
	content: $botones-icono-visibility;
}

.rbp-icono-final-ocultar::after {
	content: $botones-icono-visibility-off;
}

.rbp-icono-inicio-ocultar::before {
	content: $botones-icono-visibility-off;
}

.rbp-icono-final-siguiente::after {
	content: $botones-icono-chevron-right;
	font-size: $botones-icono-size;
}

.rbp-icono-inicio-siguiente::before {
	content: $botones-icono-chevron-right;
	font-size: $botones-icono-size;
}

.rbp-icono-final-anterior::after {
	content: $botones-icono-chevron-left;
	font-size: $botones-icono-size;
}

.rbp-icono-inicio-anterior::before {
	content: $botones-icono-chevron-left;
	font-size: $botones-icono-size;
}

.rbp-icono-final-arriba::after {
	content: $botones-icono-expand-less;
	font-size: $botones-icono-size;
}

.rbp-icono-inicio-arriba::before {
	content: $botones-icono-expand-less;
	font-size: $botones-icono-size;
}

.rbp-icono-final-abajo::after {
	content: $botones-icono-expand-more;
	font-size: $botones-icono-size;
}

.rbp-icono-inicio-abajo::before {
	content: $botones-icono-expand-more;
	font-size: $botones-icono-size;
}