// **** RAFAELBLANCO00 VENTANA MODAL

$vmodal-h1-font-color:          #0083ca;
$vmodal-p-font-color:           #525252;
$vmodal-filete-color:           #525252;
$vmodal-backgraound-color:      #ffffff;
$vmodal-border-radius:          10px;
$vmodal-ventana-margin:         10vh auto 0 auto;
$vmodal-fondo-bloqueo-color:    rgba(0,0,0,.83);

// **** RAFAELBLANCO00 ICONOS BOTONES (SOLO PARA LOS BOTONES QUE SE AJUSTARON EN MAIN.SCSS DE BOOTSTRAPS)

$botones-icono-size:            20px;
$botones-font-family:           Material Icons;

$botones-icono-clear:           "clear";
$botones-icono-get-app:         "get_app";
$botones-icono-visibility:      "visibility";
$botones-icono-visibility-off:  "visibility_off";
$botones-icono-chevron-right:   "chevron_right";
$botones-icono-chevron-left:    "chevron_left";
$botones-icono-expand-less:     "expand_less";
$botones-icono-expand-more:     "expand_more";

// **** PAGINADOR