body {
  margin: 0;
  padding: 0;
}

.rbp-icono-final::after {
  font-family: Material Icons;
  /*			background-color: grey;*/
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 30px;
  height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  font-size: 20px;
}

.rbp-icono-inicio::before {
  font-family: Material Icons;
  /*	background-color: grey;*/
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 25px;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
  font-size: 20px;
}

.rbp-icono-final-cerrar::after {
  content: "clear";
}

.rbp-icono-inicio-cerrar::before {
  content: "clear";
}

.rbp-icono-final-descargar::after {
  content: "get_app";
}

.rbp-icono-inicio-descargar::before {
  content: "get_app";
}

.rbp-icono-final-ver::after {
  content: "visibility";
}

.rbp-icono-inicio-ver::before {
  content: "visibility";
}

.rbp-icono-final-ocultar::after {
  content: "visibility_off";
}

.rbp-icono-inicio-ocultar::before {
  content: "visibility_off";
}

.rbp-icono-final-siguiente::after {
  content: "chevron_right";
  font-size: 20px;
}

.rbp-icono-inicio-siguiente::before {
  content: "chevron_right";
  font-size: 20px;
}

.rbp-icono-final-anterior::after {
  content: "chevron_left";
  font-size: 20px;
}

.rbp-icono-inicio-anterior::before {
  content: "chevron_left";
  font-size: 20px;
}

.rbp-icono-final-arriba::after {
  content: "expand_less";
  font-size: 20px;
}

.rbp-icono-inicio-arriba::before {
  content: "expand_less";
  font-size: 20px;
}

.rbp-icono-final-abajo::after {
  content: "expand_more";
  font-size: 20px;
}

.rbp-icono-inicio-abajo::before {
  content: "expand_more";
  font-size: 20px;
}

.VENTANA_MODAL_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.83);
  z-index: 9999;
}

.VENTANA_MODAL_1 .vent {
  min-height: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10vh auto 0 auto;
  margin-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.VENTANA_MODAL_1 .vent-cont {
  margin: 0 20px;
}

.VENTANA_MODAL_1 .tit {
  margin-bottom: 3vh;
}

.VENTANA_MODAL_1 .bots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3vh 10vh;
}

.VENTANA_MODAL_1 .filete {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.VENTANA_MODAL_1 .info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6vh 10vh 4vh 10vh;
}

h1 {
  color: #0083ca;
}

p {
  color: #525252;
}

.rbp-small-help {
  background-color: #f6f6f6;
  padding: 10px 20px;
  color: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.23rem;
}

.rbp-small-help-btn {
  color: rgba(0, 0, 0, 0.5);
  font-size: .83rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.rbp-small-help-btn:hover {
  color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-left: 10px;
}

.slide-titulo {
  color: #007bff;
  width: 100%;
  padding: 20px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0 0 20px 5px;
  size: 1rem;
}

.slide-pie {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px 0;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  margin: 20px 0 0 5px;
  size: 1rem;
}

.rbp-control-name {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  right: 5px;
  padding: 0px 10px;
  top: 4px;
  font-family: "PT Sans";
  font-size: 0.83rem;
  color: rgba(0, 0, 0, 0.5);
}

.rbp-opciones-laterales {
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.rbp-opciones-laterales-sombra {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.rbp-ops-lateral-barra-superior {
  border-bottom: solid 1px rgba(255, 255, 255, 0.25);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.rbp-btn-cerrar:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}

.rbp-btn-cerrar {
  /* background-color: red; */
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rbp-btn-cerrar > svg {
  margin-top: 18px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  opacity: 0.5;
}

.rbp-op-lateral-titulos {
  padding-left: 40px;
}

.rbp-op-lateral-titulos .caption {
  font-size: 0.75rem;
  margin-bottom: 0.3rem;
  opacity: 0.5;
}

.rbp-op-lateral-titulos h5 {
  opacity: 0.8;
}

.rbp-opciones-btn > div > div:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 25px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.rbp-opciones-btn > div > div {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  margin-left: 10px;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 15px 0 15px 15px;
}

.rbp-bar-lateral-sombra-sup {
  background-image: url(images/top-shadow.png);
  opacity: 0.8;
  background-repeat: repeat-x;
  background-position: top;
}

.__OPCIONES_LATERAL_VENTANA__ .__pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px 46px 30px;
  opacity: 0.25;
  position: absolute;
  bottom: 0px;
  box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.25);
  border-top: solid 1px rgba(255, 255, 255, 0.05);
}
/*# sourceMappingURL=rbp-main.css.map */